.userEditRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin: 10px 2px;
}
.userEditRow input {
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
.userEditRow input:focus {
  outline: none;
}
.editInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.editOptions {
  display: flex;
  gap: 10px;
  margin-right: 1rem;
  justify-content: flex-end;
}
.editOptions {
  display: flex;
  gap: 10px;
  margin-right: 1rem;
  justify-content: flex-end;
}

.l-edit {
  font-size: 0.9em;
}
